
body {
  padding: 50px;
}

.list-action {
  position: absolute;
  top: 0;
  right: 0;
  background: white;
}

.list-action.left {
  left: 0;
  right: auto
}

.list-action-item {
  position: relative;
  float: left;
  border-left: 1px solid #ddd;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  height: 40px;
  padding: 0 10px;
  color: #666;
}

.list-action-item:hover {
  text-decoration: none;
  background: #ddd;
}

.list-action.left .list-action-item {
  border-left: none;
  border-right: 1px solid #ddd;
}

.list-group-item {
  padding-left: 50px;
}

.list-group-item .muted {
  text-decoration: line-through;
  color: #999;
}

.comment-group {
  overflow: hidden;
  position: relative;
  margin: 10px -15px -11px -13px;
  border-top: 1px solid #ddd;
}

.comment-group .comment-group-item {
  display: block;
  position: relative;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  padding: 10px;
  background: #eee;
  font-size: 12px;
  font-style: italic;
}



